<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <title>端口管理</title>
  <link href="/static/local/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/local/all.min.css" rel="stylesheet" />
  <link href="/static/local/animate.min.css" rel="stylesheet" />
  <link href="/static/local/codemirror.min.css" rel="stylesheet" />
  <link href="/static/local/monokai.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/' + theme + '.css') }}" />
  <style id="custom-style"></style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand animate__animated" href="/">🚢 Portall</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link animate__animated" href="/">新建</a>
          </li>
          <li class="nav-item">
            <a class="nav-link animate__animated" href="/ports">端口</a>
          </li>
          <li class="nav-item">
            <a class="nav-link animate__animated" href="/import">导入</a>
          </li>
          <li class="nav-item">
            <a class="nav-link animate__animated" href="/settings">设置</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">{% block content %}{% endblock %}</div>
  <script src="/static/local/jquery-3.6.0.min.js"></script>
  <script src="/static/local/bootstrap.bundle.min.js"></script>
  <script src="/static/local/codemirror.min.js"></script>
  <script src="/static/local/css.min.js"></script>
  <script src="/static/local/closebrackets.min.js"></script>
  <script src="/static/local/matchbrackets.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/ui/animations.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>